#itchanged-toolbar-button
{
  list-style-image: url("chrome://itchanged/skin/toolbar-button-large.png");
  opacity: 0.5;
}

#itchanged-toolbar-button[unread]
{
  opacity: 1.0;
}

toolbar[iconsize="small"] #itchanged-toolbar-button
{
  list-style-image: url("chrome://itchanged/skin/toolbar-button-small.png");
  opacity: 0.5;
}

.itchanged-list-item box .hnews-icon {
  background-image: url("chrome://itchanged/skin/hnew_icon.png");
  width: 24px;
}

.details { font-size: 75%; color: #888; padding-left: 1em; }

richlistitem[updated="1"] { font-style: italic; }

